<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD9kMHw449urvU8RjiARQQ8Csnm1a6-n-g</string>
	<key>GCM_SENDER_ID</key>
	<string>549490562302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceMobile</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-75ab1</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-75ab1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:549490562302:ios:a2a40b4bc8545f233cc1af</string>
</dict>
</plist>